/* Index */

body {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow:auto;
}
.logoSize {
    height:13vmin;
}
#teamMaedLogo {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    height: 10vmin;
    width: 20vmin;
    align-self: flex-start;
    margin-top: 10vmin;
    justify-content: center;
}

#teamMaedLogoTimeline {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    height: 10vmin;
    width: 20vmin;
    align-self: flex-start;
    margin-top: 5vmin;
    margin-left: -130vmin;
    justify-content: center;
}

#teamMaedLogo:hover {
    background-color: rgb(255, 197, 91);
    border-color: rgb(255, 197, 91);
    border-radius: 50%;
}

.characterBox {
    height: 50vmin;
    width: 50vmin;
    display: flex;
    justify-content: center;
    align-self: center;
    position: absolute;
}

#eduardCharacter {
    height: 40vmin;
    width: 20vmin;
    margin-left: -3vmin; 
    align-self: center;
    cursor: pointer;
}

#marianCharacter {
    display: flex;
    height: 40vmin;
    width: 20vmin;
    margin-right: -3vmin;
    align-self: center;
    cursor:pointer;
    justify-content: center;
}

.marianOutline {
    position: absolute;
    height: 40vmin;
}

.marianOutline:hover {
    opacity: 0;
}
.marianFarbe {
    opacity: 0;
    position: absolute;
}

.marianFarbe:hover {
    height: 40vmin;
    opacity: 100;
    align-self: center;
}

.eduardOutline {
    position: absolute;
    height: 40vmin;
}

.eduardOutline:hover {
    opacity: 0;
}
.eduardFarbe {
    opacity: 0;
    position: absolute;
}

.eduardFarbe:hover {
    height: 40vmin;
    opacity: 100;
    align-self: center;
}

#eduardStats  {
    border-color: rgb(255, 166, 0);
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    height:50vmin;
    width:50vmin;
    margin-left:110vmin;
    position: absolute; 
    align-self: center;
} 

.eduardBanner {
    display: flex;
    align-self: flex-end;
}

#marianStats  {
    border-color: rgb(255, 166, 0);
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    height:50vmin;
    width:50vmin;
    margin-right:110vmin;
    position: absolute; 
    align-self: center;
    justify-content: center;
} 

#showTeamStats {
    border-color: rgb(255, 166, 0);
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    display: flex;
    height: 5vmin;
    width: 15vmin;
    margin-top: 90vmin;
    margin-left: 25vmin;
    align-self: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

#showTeamStats:hover {
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: black;
}


#goToTimeline {
    border-color: rgb(255, 166, 0);
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    display:flex;
    height: 5vmin;
    width: 15vmin;
    margin-top: 90vmin;
    margin-right: 23vmin;
    align-self: center;
    justify-content: center;
    position: absolute;
}

#goToTimeline:hover {
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
    background-color: black;
}

#teamStats {
    height: 5vmin;
    width: 20vmin;
    margin-top: 60vmin;
    align-self: center;
    position: absolute;
}

/* Timline */

#timeline {
    display:flex;
    width: 90vmin;
    height: 1vmin;
    background: black;
    justify-content: space-between;
    border-radius: 10%;
    align-self: center;
    position:absolute;
}

.dayButton {
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    align-self: center;
    border-style: none;
    cursor: pointer;
}
.dayButton:hover {
    background-color: white;
    box-shadow: 3px 3px 0px 0px rgb(255, 166, 0);
}

#Top {
    display:flex;
    width: 95vmin;
    height: 1vmin;
    position: absolute;
    top: 30vmin;
    align-self: center;
}

#Bottom {
    display:flex;
    width: 95vmin;
    height: 1vmin;
    position: absolute;
    bottom: 33vmin;
    align-self: center;
}

#mondayBottom {
    display:flex;
    display: none;
    height:15vmin;
    width:15vmin;
    margin-bottom: 16vmin;
    margin-left: -1.5vmin;
    align-self: center;
}


#mondayTop {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    display:none;
    height:15vmin;
    width:15vmin;
    margin-left:-2vmin;
    margin-bottom: 1vmin;
    position: absolute;
    align-self: center;
    justify-content: center;
}

#tuesdayBottom {
    display:none;
    height:15vmin;
    width:15vmin;
    margin-left: 18vmin;
    margin-bottom: 17vmin;
    position: absolute;
    align-self: center;
}


#tuesdayTop {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    display:none;
    height:15vmin;
    width:15vmin;
    position: absolute;
    left: 18vmin;
    align-self: center;
    justify-content: center;
}

#tuesdayTop img {
    height: 20vmin;
    width: 20vmin;
    align-self: center;
    margin-bottom: 2vmin;
}

#wednesdayBottom {
    display:none;
    height:20vmin;
    width:20vmin;
    position: absolute;
    align-self: center;
    margin-left: 37vmin;
    margin-bottom: 10vmin;
}

#wednesdayTop {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    display:none;
    height:15vmin;
    width:15vmin;
    position: absolute;
    left: 39vmin;
    align-self: center;
}

#wednesdayTop img {
    height: 20vmin;
    width: 20vmin;
    align-self: center;
    margin-bottom: 2vmin;
}

#thursdayBottom {
    display:none;
    height:15vmin;
    width:15vmin;
    position: absolute;
    margin-bottom:17vmin;
    margin-left:61vmin;
    align-self: center;
}

#thursdayTop {
    background-color: rgb(255, 166, 0);
    border-color:  rgb(255, 166, 0);
    border-radius: 50%;
    display:none;
    height:15vmin;
    width:15vmin;
    position: absolute;
    left: 60vmin;
    align-self: center;
}

/* Global classList Hide */

.hide {
    display: none;
}

/*Kata Beispiele */

.kataExample {
    display:show;
    position:absolute;
    height: 50vmin;
    width:100vmin;
    /* justify-content: center;
    align-items:center; */
    align-self: center;
    border-color: 2px solid black;
    background-color: white;
    z-index: 2;
}


.kataExampleButton {
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    height:2vmin;
    width:2vmin;
    cursor:pointer;
}

.showKataExampleButtonStyle {
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    height:2vmin;
    width:2vmin;
    cursor:pointer;
}

.variantenButton {
    height:2vmin;
    width:2vmin;
}
